@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fbf9f7;
    color: #1b1c1b;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
  }

  h1, h2, h3, h4, .font-serif {
    font-family: 'Quicksand', sans-serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e4e2e0;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #897266;
}
